.select {
  height: 100%;
  width: 100%;
  background-color: #faebd7;
  font-size: 24px;
}

.select .header {
  height: 15%;
  background-color: cadetblue;
}

.select .header .title {
  width: 100%;
  display: grid;
  place-items: center;
}

.select .header .title .word {
  padding: 10px;
  font-size: 26px;
  color: burlywood;
}

.select .main {
  height: 70%;
  background-color: aqua;
  display: grid;
  place-items: center;
}

.select .footer {
  height: 15%;
  background-color: aquamarine;
  display: grid;
  place-items: center;
}
