.select {
  height: 100%;
  width: 100%;
  background-color: #faebd7;
  font-size: 24px;
  .header {
    height: 15%;
    background-color: cadetblue;
    .title {
      // height: 18%;
      width: 100%;
      display: grid;
      place-items: center;
      .word {
        padding: 10px;
        font-size: 26px;
        color: burlywood;
      }
    }
  }
  .main {
    height: 70%;
    background-color: aqua;
    display: grid;
    place-items: center;
  }
  .footer {
    height: 15%;
    background-color: aquamarine;
    display: grid;
    place-items: center;
  }
}
