.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  user-select: none;
  background-image: url("../../static/image/bg.jpg");
  background-repeat: repeat;
  position: relative;
  overflow: hidden;
}

.index .logo {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 10%;
}

.index .select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index .select .time {
  font-size: 20px;
  position: absolute;
  top: calc(10% + 60px);
}

.index .select .container {
  font-size: 20px;
  position: absolute;
  top: calc(10% + 100px);
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.index .select .food {
  font-size: 36px;
  color: #ff9733;
  margin-bottom: 20px;
  text-align: center;
}

.index .select .select-children .switch {
  margin-right: 10px;
}

.index .select .option {
  margin-top: 20px;
}

.index .select .option button {
  color: #1fd9f6;
  border: 1px solid #1fd9f6;
}

.index .select .option button:hover {
  background-color: #1fd9f6;
  color: #fff;
}

.index .select .option button:first-child {
  margin-right: 20px;
}

.modal-tip {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
